.checkout-div {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: calc(100vh - 10.5em);
  padding-top: 1em;
  span {
    align-self: center;
  }

  .checkout-container {
    overflow-y: auto;
    height: 195px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .checkout-products {
      height: 100%;
      width: 100%;
    }
  }
  .checkout-summary {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 130px;
    border: 1px solid $brownColor;
    margin-top: 1em;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    .subtotal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
    }
    .delivery-options {
      padding: 5px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      select {
        font-size: 12px;
        text-align: center;
        border: 1px solid black;
        outline: none;
        border: none;
        background: $backgroundColor;
        color: $brownColor;
      }
    }
    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
      margin-top: 1.3em;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      border-top: 1px solid $brownColor;
    }

    #checkout-btn {
      border: 1px solid $brownColor;
      background-color: $brownColor;
      justify-self: center;
      align-self: center;
      text-align: center;
      color: $backgroundColor;
      margin-top: 2.5em;
      font-size: 16px;
      padding: 5px 10px;

      cursor: pointer;
    }
  }
}

@media all and (min-width: 360px) {
  .checkout-div {
    .checkout-summary {
      height: 170px;
      .subtotal {
        span {
          font-size: 18px;
        }
      }
      .delivery-options {
        p {
          font-size: 18px;
        }
        select {
          font-size: 15px;
          text-align: center;
          border: 1px solid black;
          outline: none;
          border: none;
          background: $backgroundColor;
        }
      }
      .total {
        margin-top: 2.2em;
        span {
          font-size: 18px;
        }
      }

      #checkout-btn {
        margin-top: 2em;
      }
    }
  }
}
