.checkout-div {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: calc(100vh - 10.5em);

  padding-top: 1em;
  span {
    align-self: center;
  }

  .checkout-container {
    overflow: hidden;
    overflow-y: auto;
    max-height: 215px;
  }
  .checkout-summary {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 130px;
    border: 1px solid $brownColor;
    margin-top: 2em;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    .subtotal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
    }
    .delivery-options {
      padding: 5px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      select {
        font-size: 10px;

        text-align: center;
      }
    }
    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
      margin-top: 1.3em;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      border-top: 1px solid $brownColor;
    }

    #checkout-btn {
      border: 1px solid $brownColor;
      background-color: $brownColor;
      justify-self: center;
      align-self: center;
      text-align: center;
      color: $backgroundColor;
      margin-top: 2.5em;
      font-size: 16px;
      padding: 5px 10px;

      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
