.product-card {
  width: 200px;
  height: 330px;
  background: $backgroundColor;
  text-align: center;
  transition: 0.4s all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 6px 1px #4a332d71;
 
  border-radius: 2px;
  padding: 15px 0px;
  color: $brownColor;

  h6 {
    font-size: 16px;
    margin-bottom: -5px;
    letter-spacing: 1px;
    color: $brownColor;
  }
  small {
    font-size: 16px;
    letter-spacing: 1px;
  }
  // img {
  //   width: 120px;
  // }
  .add-to-cart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin-bottom: 0.5em;

    a {
      font-size: 18px;
      background: $brownColor;
      color: $backgroundColor;
      transition: 0.3s all;
      text-align: center;
      border-radius: 2px;
      padding: 3px 20px 5px 20px;

      &:hover {
        background: $greenColor;
        cursor: pointer;
      }
    }
  }
}

@media all and (min-width: 1240px) {
  .product-card {
    width: 240px;
    height: 390px;

    h6 {
      font-size: 19px;
    }
    small {
      font-size: 19px;
    }
    img {
      width: 150px;
    }

    .add-to-cart {
      a {
        font-size: 20px;
      }
    }
  }
}
