@import './variables';

.special-offers-div {
  background: $yellowColor;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 4em;
  align-items: center;
  opacity: 0;
  animation: fade 1s;
  animation-fill-mode: forwards;
  overflow: hidden !important;
  margin-top: 9.5em;
  padding: 1.5em;

  h5 {
    margin-top: 0em;
    margin-bottom: -1.5em;
    font-size: 18px;
    letter-spacing: 2px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transition: 0.5s all;
  }
  100% {
    opacity: 1;
    transition: 0.5s all;
  }
}
