@import './variables';

.wine-offers-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9.5em;
  animation: fade 1s;
  animation-fill-mode: forwards;
  margin-bottom: 3em;
  width: 90%;
  .filters-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    width: 100%;
    margin-bottom:-2.5em;    
    margin-top: -0.5em;
    top: 9em;
    z-index: 200;
    background-color: $backgroundColor;
    color: rgba($brownColor, 1);
    padding: 2em;
    min-height: 0;    

   

    h5 {
      margin-bottom: 0.5em;
      font-size: 18px;
      letter-spacing: 2px;
      color: $brownColor;
    }
    .filters-container {
      .filters-icon {
        display: flex;
        align-items: center;
        gap: 0.5em;
        transition: color 0.1s;
        cursor: pointer;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
      }
      display: none;
    }
    .filters-container-mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 80px;
      background: rgba(153, 155, 132, 0.25);
      box-shadow: 0 1px 3px 0 rgba(31, 38, 135, 0.35);
      border-radius: 1px;

      small {
        font-size: 15px;
      }

      .filters-icon {
        display: flex;
        align-items: center;
        justify-self: flex-start ;
        align-self: flex-start;
        gap: 0.5em;
        transition: color 0.1s;
        cursor: pointer;
        padding: 5px;
        
        
      }
      .fa-rectangle-xmark {
        display: none;
      }
      .filter-options {
        position: absolute;
        transform: scale(0);
        opacity: 0;
        transition: 0s all;
      }

      i {
        font-size: 15px;
      }
    }
  }
}
.wine-offers-div {
  background: $backgroundColor;
  width: 90%;
  position: relative;
  border-radius: 2px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3em;
  align-items: center;
  justify-items: center;
  opacity: 0;
  animation: fade 1s;
  animation-fill-mode: forwards;
  overflow: hidden !important;
  padding-top: 4em;
  padding-bottom: 1em;
  transform-origin: top;
}

.active {
  flex-direction: column;  
  width: 250px !important;  
  justify-content: center !important;    
  z-index: 1;
  transform-origin: left;
  background: rgba($greenColor, 0.35);
  color: $brownColor;
  flex-direction: column !important;
  border: none !important;
  background: rgba(153, 155, 132, 0.25);
  box-shadow: 0 1px 7px 0 rgba(31, 38, 135, 0.35);
  border-radius: 2px;
  -webkit-transition: min-height 0.7s; 
  -moz-transition: min-height 0.7s; 
  -ms-transition: min-height 0.7s; 
  -o-transition: min-height 0.7s; 
  transition: min-height 0.7s;  
  min-height: 5em !important;
  animation: height 0.7s ease-in;
  animation-fill-mode: forwards;
  
  
  small {
    font-size: 20px !important;
    margin-left: 15%;
  }
  .filters-icon {
    display: flex;
    align-self: center !important;
    gap: 0.5em;
    transition: color 0.1s !important;
    cursor: auto !important;
    animation: moveToLeft 0.5s;
    animation-fill-mode: forwards;
  
  }

  .filter-options {
    position: relative !important;
    transform: scale(1) !important;
    opacity: 1 !important;
    transition: 0.5s all !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 0em !important;

    .filter-color {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      span {
        text-align: center;
        padding: 10px 0px;
        font-weight: 900;
      }

      .inputs {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        div {
          display: flex;
          align-items: center;
          gap: 15px;
        }

        input {
          margin-right: -12px;
        }
      }
    }
    .filter-type {
      display: flex;
      flex-direction: column;

      span {
        text-align: center;
        padding: 10px 0px;
        font-weight: 900;
      }
      .inputs {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .sweet-type,
        .dry-type {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          input {
            margin: 4px;
          }
        }
      }
    }
    .buttons {
      display: flex;
      justify-content: space-evenly;
      button {
        width: 45%;
        align-self: center;
        margin: 20px 0 10px 0;
        border-radius: 2px;
        padding: 5px;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 14px;
        color: $backgroundColor;
        background-color: $brownColor;
        transition: 0.3s all;
        border: 1px solid;
        border-color: rgba($brownColor, 1);
        &:nth-child(2) {
          color: $brownColor;
          background-color: #ff9494;
        }
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transition: 0.5s all;
  }
  100% {
    opacity: 1;
    transition: 0.5s all;
  }
}

@media all and (min-width: 700px) {
  .wine-offers-wrapper {
    
    .wine-offers-div {
      grid-template-columns: repeat(2, 1fr);
      
    }
  }
}
@media all and (min-width: 1024px) {
  .wine-offers-wrapper {
    margin-right: 1em;
    .filters-wrapper {
      h5 {
        padding-left: 4.2em;
      }
      .filters-container {
        position: fixed;
        left: -25%;
        top: 35%;
        width: 185px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: rgba(153, 155, 132, 0.25);
        box-shadow: 0 1px 7px 0 rgba(31, 38, 135, 0.35);
        border-radius: 1px;
        .filter-options {
          position: relative !important;
          transform: scale(1) !important;
          opacity: 1 !important;
          transition: 0.5s all !important;
          width: 100% !important;
          display: flex;
          flex-direction: column;
          gap: 3em !important;

          .filter-color {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: auto;
            span {
              text-align: center;
              padding: 10px 0px;
              font-weight: 900;
            }
            .inputs {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: space-evenly;
              gap: 10px;
              div {
                display: flex;
                align-items: center;
                gap: 8px;
              }
              input {
                margin-right: -5px;
              }
            }
          }
          .filter-type {
            display: flex;
            flex-direction: column;

            span {
              text-align: center;
              padding: 10px 0px;
              font-weight: 900;
            }
            .inputs {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: space-evenly;
              gap: 10px;

              .sweet-type {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding-left: 7px;
                padding-right: 7px;
                div {
                  display: flex;
                  align-items: center;
                }
              }
              .dry-type {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding-left: 20px;
                padding-right: 20px;
              }
              input {
                margin-right: 5px;
              }
            }
          }

          .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            button {
              width: 65%;
              align-self: center;
              margin: 10px 0;
              background: $backgroundColor;
              border-radius: 2px;
              padding: 5px;
              outline: none;
              border: none;
              cursor: pointer;
              font-size: 14px;
              color: $brownColor;
              transition: 0.3s all;
              &:hover {
                color: $backgroundColor;
                background: $brownColor;
              }

              &:nth-child(2) {
                background-color: $backgroundColor;
                color: #ff9494;

                &:hover {
                  background-color: #ff9494;
                  color: $brownColor;
                }
              }
            }
          }
        }
        .filters-icon {
          small {
            font-size: 25px;
          }
          i {
            font-size: 22px;
          }
        }
      }
      .filters-container-mobile {
        display: none;
      }
    }
    .wine-offers-div {
      grid-template-columns: repeat(3, 1fr);
      margin-right: -5em;
      gap: 2em;
    }
  }
  #sortMenuIcon {
    color: $brownColor;
    font-size: 33px;
    position: fixed;
    top: 60%;
    left: 0%;
    padding: 10px;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
}

@media all and (min-width: 1580px) {
  .wine-offers-wrapper {
    .wine-offers-div {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
@media all and (min-width: 2200px) {
  .wine-offers-wrapper {
    .wine-offers-div {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}


@keyframes height {
0% {
  max-height: 0 !important;
  opacity: 0.5;
}

100% {
  max-height: 5em !important;
  opacity: 1;
}
}


@keyframes moveToLeft {
  0% {
    
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    margin-right: 10em;
  }
}