@import '../CSS/header', '../CSS/variables', './special-offers', '../CSS/contact', '../CSS/product',
  '../CSS/about', '../CSS/cartProduct', '../CSS/checkout', '../CSS/mobile-menu', '..//CSS/wineOffers',
  '../CSS/final-checkout';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  transition: 0.3s all;
}

html {
  background: $backgroundColor;
  /* Hide scrollbar for Chrome, Safari and Opera */
  // ::-webkit-scrollbar {
  //   display: none;
  // }

  // /* Hide scrollbar for IE, Edge and Firefox */

  // -ms-overflow-style: none; /* IE and Edge */
  // scrollbar-width: none; /* Firefox */
}
